.card {
  width: 200px;
  height: 200px;
  margin-top: 20px;

  &--red {
    background: red;
  }

  &--blue {
    background: blue;
  }

  &--green {
    background: green;
  }

  &:not(.show) {
    background: none;
  }
}